@require './node_modules/@rally/starship-picard/dist/styles/vars.styl'
@require './components/**.styl';

body
  display: flex
  flex-direction: column
  height: 100%
  margin: 0
  min-height: 100vh

main.content
  flex: 1 0 auto
  padding-top: 68px

main.content::after
  content: '\00a0'
  display: block
  height: 0px
  padding: 0
  visibility: hidden

.container
  padding-bottom: $padding-24
  padding-top: $padding-24

.errors 
  color: $red
  font-style: italic
  margin: 0 0 12px
  padding: 0

  .error
    color: $red
